name: Build Docker Image ENV DEV

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'run action manually'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Clean Code
        run: git clean -fd
      - name: Compile And Install Modules
        run: cd backend && mvn clean install -DskipTests=true -q
        timeout-minutes: 10
      - name: Login To Huawei Cloud Docker Registry
        uses: docker/login-action@v1
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWD }}
      - name: Build Docker Backend Server Image
        run: cd backend && docker build -f Dockerfile --build-arg JAR_FILE=/target/xueyou-1.0.0-SNAPSHOT.jar . -t backend-xueyou:local
        timeout-minutes: 60
      - name: Push Backend Server Docker Image
        run: docker tag backend-xueyou:local registry.cn-hangzhou.aliyuncs.com/dbsnolimit/backend-xueyou:latest && docker push registry.cn-hangzhou.aliyuncs.com/dbsnolimit/backend-xueyou:latest
        timeout-minutes: 10
      - name: Build Docker Gateway Server Image
        run: cd frontend && docker build -f Dockerfile . -t backend-xueyou:local
        timeout-minutes: 60
      - name: Push Gateway Server Docker Image to huaweiyun docker swr
        run: docker tag backend-xueyou:local registry.cn-hangzhou.aliyuncs.com/dbsnolimit/frontend-xueyou:latest && docker push registry.cn-hangzhou.aliyuncs.com/dbsnolimit/frontend-xueyou:latest
